.home-container,
body,
html {
  height: 100%;
}

.home-container {
  display: flex;

  .room-container {
    width: 15%;
    border-right: 1px solid $chatOddMessage;

    .room {
      text-align: center;

      .room-link {
        display: block;
        padding: 10px 0;
        width: 100%;
        text-decoration: none;
        color: $blue;

        &:active,
        &:hover {
          color: $white;
          background: $blue;
        }
      }
    }
  }

  .chat-container {
    width: 85%;

    .messages-container {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    .message {
      padding: 5px 10px;
      min-height: 32.5px;

    }

    .message:nth-child(odd) {
      background: $chatOddMessage;
    }
  }

  .texBox-container {
    position: fixed;
    bottom: 0;
    width: 100%;

    #textBox {
      width: 100%;
    }
  }
}

@media screen and (max-width: $small-screen) {
  .home-container {
    .room-container {
      width: 40%;
    }

    .chat-container {
      width: 60%;
    }
  }

}
