// --- LOGIN PAGE

.login-container {
  *,
  *:after,
  *:before {
    box-sizing: border-box;
  }

  #signup {
    display: none;
  }

  .form {
    background: $background;
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(black,.3);
  }

  .tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px;

    &:after {
      content: "";
      display: table;
      clear: both;
    }

    .tab .tab-target {
      display: block;
      text-decoration: none;
      padding: 15px;
      background: rgba($grey,.25);
      color: $white;
      font-size: 20px;
      float: left;
      width: 50%;
      text-align: center;
      cursor: pointer;
      transition: 0.5s ease;

      &:hover {
        background: $white;
        color: $blue;
      }
    }

    .active .tab-target {
      background: $blue;
      color: $white;
    }
  }

  .form-label {
    color: rgba($grey,.5);
    text-transform: uppercase;

    .req {
      margin: 2px;
      color: $blue;
    }
  }

  .field {
    margin-bottom: 40px;
  }
}
