.primary-button {
  width: 100%;
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: $blue;
  color: $white;
  transition: all.5s ease;
  -webkit-appearance: none;

  &:focus,
  &:hover {
    background: $white;
    color: $blue;
  }
}
