// --- COLORS
$background: #2b2d42;
$chatOddMessage: #52567b;
$grey: #8d99ae;
$white: #edf2f2;
$blue: #00a8e8;

// MEDIA QUERY RANGE
$small-screen-up: 601px;
$medium-screen-up: 993px;
$large-screen-up: 1201px;
$small-screen: 600px;
$medium-screen: 992px;
$large-screen: 1200px;

// TYPOGRAPHY
$h1-fontsize: 4.2rem;
$h2-fontsize: 3.56rem;
$h3-fontsize: 2.92rem;
$h4-fontsize: 2.28rem;
$h5-fontsize: 1.64rem;
$h6-fontsize: 1.15rem;